.landing {
  margin: 0 !important;
  height: calc(100vh - 52px);
  background: url("./images/main.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .landingForm {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    padding: 30px;
    position: relative;
    top: 25%;
    transform: translateY(-25%);

    h1 {
      margin: 0;
      padding: 0 0 15px 0;
      font-size: 24px;
      font-weight: 700;
    }

    .landingBtn {
      color: #fff;
      background-color: $basicBlue;
      padding: 10px 30px;
      font-weight: 700;
      font-size: 16px;
    }
    .landingBtn:hover {
      background-color: #d6998f;
      transition-duration: 1s;
    }
  }
}
