@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://npmcdn.com/leaflet@1.0.0-rc.1/dist/leaflet.css");
@import "variables";
@import "global";
@import "LandingPage";
@import "points";
@import "meetings";
@import "UserInfo";
@import "AddNewMeeting";
@import "AddNewPoint";
@import "mobile";

.hitchyMapComponent {
  height: calc(100vh - 52px) !important;
}

.guideBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 3px solid $darkBlue;
  background-color: #fff;
  font-weight: 700;
}

.leaflet-left {
  width: 100%;

  .geosearch {
    position: absolute;
    border: none !important;
    top: 0;
    right: 0;
    width: 80%;

    .leaflet-bar-part-single {
      display: none;
    }

    form {
      text-align: right;

      .active {
        background-color: #fff;
      }
      .active > div {
        padding: 10px;
        border-bottom: 1px solid #ddd;
      }

      .glass,
      .reset {
        display: inline-block;
      }
    }
  }
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
