.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.btnCircled {
  border-radius: 40px;
  padding: 5px 20px;
}

.testBtn {
  position: absolute;
  bottom: 30px;
  margin: auto;
  left: 0;
  right: 0;
  width: 123px;
}

.emptyHeader {
  text-align: center;
  padding: 30px;
}

.btnBlue {
  border: 2px solid $lightBlue !important;
  background-color: #fff;
}

.btnBlue:hover {
  border: 2px solid $darkBlue !important;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btnGray {
  border: 2px solid $lightGray !important;
}

.btnGray:hover {
  border: 2px solid $darkGray !important;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn {
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.btnDarkGray {
  border: 2px solid $darkGray !important;
}

.panel-default > .panel-heading {
  background-color: #6d8fcf26 !important;
}

.guestBtnCircled{
  display: block;
    max-width: 290px;
}

.shadowPanel:hover {
  -webkit-box-shadow: 0px 0px 18px 0px rgb(240, 240, 240);
  -moz-box-shadow: 0px 0px 18px 0px rgb(240, 240, 240);
  box-shadow: 0px 0px 18px 0px rgb(240, 240, 240);
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

textarea {
  resize: none;
}

.alert {
  position: absolute;
  top: 52px;
  z-index: 10000;
  right: 0;
}

.defaultBtn {
  padding: 6px 30px;
}

.loginCol,
.registerCol,
.addNewPoint {
  margin-bottom: 30px;
}

.addNewMeetingCol {
  overflow: scroll;
  height: calc(100vh - 60px);

  form {
    margin-bottom: 30px;
  }
}

.dropdown-menu {
  z-index: 10000;
}

.leaflet-container {
  height: 90vh;
  width: 100%;
}

.bold {
  font-weight: 700;
}

.row {
  margin: 0 !important;
}

.navbar {
  margin: 0 !important;
}

.navbar {
  background-color: #fff !important;

  .dropdown {
    margin: 9px;

    .dropdown-toggle {
      background-color: #dedbdb;
      border: none;
    }

    .dropdown-menu {
      padding: 15px;
      min-width: 120px;

      a {
        display: block;
        color: #333;
        text-align: right;
      }
      a:hover {
        cursor: pointer;
        text-decoration: none;
        color: #000;
      }
    }
  }
}

* {
  font-family: "Open Sans", sans-serif !important;
}

textarea:focus,
.form-control:focus,
button:focus,
select:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(202, 201, 201, 0.8) !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 8px rgba(202, 201, 201, 0.8) !important;
  outline: 0 none !important;
}

.loaderContainer {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 10000;

  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    background-position: 50%;

    img {
      width: 100%;
    }
  }
}
