.meetingMapContainer {
  height: calc(100vh - 52px);
  padding: 0 !important;

  div {
    .leaflet-container {
      height: calc(100vh - 52px);
    }
  }

  .leaflet-control-zoom {
    z-index: 10000;
  }

  .leaflet-control-geosearch {
    width: 100% !important;
    background: rgba(255, 255, 255, 0.7);
    margin: 0 !important;
    padding: 10px 0;

    form {
      text-align: center !important;
      width: 100%;
    }
  }
}

.mainMeetingsMap {
  border-left: 1px solid #ddd;
  .mapHint {
    p {
      position: absolute;
      z-index: 100;
      margin: 30px auto 0 auto;
      left: 0;
      right: 0;
      font-weight: 600;
      max-width: 500px;
      background-color: #fff;
      border: 1px solid #ddd;
      padding: 20px;
      border-radius: 5px;
      text-align: center;
    }
  }
}

.listOfMeetingsRow {
  margin: 0;
  position: relative;

  .listOfMeetingsCol {
    padding: 20px;
    height: calc(100vh - 52px);
    overflow-y: scroll;

    .btn {
      margin: 10px 10px 5px 0;
    }
  }
}

.singleMeetingDetailsDataRow {
  margin: 0;
  position: relative;

  .btn {
    margin: 0 10px 10px 0;
  }

  .singleMeetingDetailsDataCol {
    height: calc(100vh - 52px);
    overflow-y: scroll;

    .userCommentInfoBox {
      text-align: center;
    }
  }
}
