@media screen and (max-width: 767px) {
  .listOfMeetingsRow {
    .listOfMeetingsCol {
      height: 100%;
      overflow: hidden;
      margin-top: 295px;
    }

    .meetingMapContainer {
      position: absolute;
      top: 0;
      width: 100%;
      max-height: 300px !important;

      div {
        max-height: 300px !important;
      }
    }
  }
}
